<?xml version="1.0"?>
<!--
/**
 * di.xml
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the MIT License, which
 * is bundled with this package in the file LICENSE.txt.
 *
 * It is also available on the Internet at the following URL:
 * https://docs.auroraextensions.com/magento/extensions/2.x/magentocroncloudfunctions/LICENSE.txt
 *
 * @package       AuroraExtensions_SampleCronCloudFunctions
 * @copyright     Copyright (C) 2019 Aurora Extensions <support@auroraextensions.com>
 * @license       MIT License
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="VisitorLogCronJob" type="AuroraExtensions\MagentoCronCloudFunctions\Model\Cron\Job">
        <arguments>
            <argument name="jobCode" xsi:type="string">visitor_log_clean</argument>
        </arguments>
    </virtualType>

    <virtualType name="VisitorLogCloudFunctionHttpRequest" type="AuroraExtensions\MagentoCronCloudFunctions\Model\Http\Request">
        <arguments>
            <argument name="cronJob" xsi:type="object">VisitorLogCronJob</argument>
        </arguments>
    </virtualType>
</config>
